<h1> Please approve or reject the following loan:</h2>

<ul>

<li><%= @loan.borrower.first_name %> <%= @loan.borrower.first_name %> has requested to borrow "<%= @loan.item.name %>"</li>
<li>The borrower is located at <%= @loan.borrower.full_address %></li>

</ul>


<%= form_tag({controller: "loans", action: "approve"}, method: "post", class: "form") do %>
  <%= radio_button_tag :owner_approved, "true" %>
<%= label_tag(:owner_approved, "I approve this loan") %>
<%= radio_button_tag :owner_approved, "false" %>
<%= label_tag(:owner_approved, "I do not approve this loan") %>
<%= submit_tag "Submit" %>
<% end %>
