<h1>Greetings, <%= current_user.first_name %></h1>
<h2>This is the loans index page.  <br>Here you can see what you have borrowed and what you have loaned.</h2>


<%= form_tag({controller: "loans", action: "index"}, method: "get", class: "form") do %>
  <%= radio_button_tag :category, "borrowed", false, :onclick => "this.form.submit();" %>
<%= label_tag(:category, "View Borrowed Items") %>
<%= radio_button_tag :category, "loaned", false, :onclick => "this.form.submit();" %>
<%= label_tag(:category, "View Loaned Items") %>
<% end %>
 

<br>
 <p>



<%= flash[:notice] %>

	<% if params[:category] == nil %>
		<%= render plain: "No category selected.  This is what someone will see by default." %>
	<% else %>
		<%= render "#{params[:category]}" %>
	<% end %>

