<div id = "my_items" class = "listing large_text">

<%= notice %>

<% if @items.empty? %>

<h3>You haven't created any items yet.  <br><br><%= link_to "Create a new item ", new_item_path %>to earn points which will enable you to borrow things from other people!</h3>

<% else %>

<h1>View items below or <%= link_to "Create a new item", new_item_path %><h2>

<table id = "items">
	<th>Item Name</th>
	<th>Description</th>
	<th>Image</th>
	<th>Category</th>
	<th>Condition</th>
	<th>Approximate Value</th>
	<th>Tags</th>

<% @items.each do |item| %>
	<% if item.available? %>
	<tr>
		<td><%= item.name %></td> 
		<td><%= item.description %></td> 
		<td><%= image_tag(item.image_path, size:"100", alt:item.name, class:"item") %></td> 
		<td><%= item.category.name %></td> 
		<td><%= item.condition_qual %></td> 
		<td>$<%= item.value %></td> 
		<td><%= item.tags %></td> 
		<td><%= link_to "Edit Item", edit_item_path(item) %></td> 
	
	</tr>
	<% end %>
<% end %>
</table>

<% end %>

</div>