<h1>Item view: <%= @item.name %><h1>
	<ul>
	<li>Description: <%= @item.description %></li> 
	<li><%= image_tag(@item.image_path, size:"100", alt:@item.name, class:"item") %></li> 
	<li>Category: <%= @item.category.name %></li> 
	<li>Condition: <%= @item.condition_qual %></li> 
	<li>Location: <%= @item.user.full_address %></li> 
	<li>Tags: <%= @item.tags %></li>
</ul>