<h1><%= @movie.title %></h1>
<p><%= @movie.year_released %></p>
<p><%= @movie.description %></p>
<% if @movie.rating? %>
<p>Rating: <%= @movie.rating %> stars</p>
<% end %>
<%= link_to "See all movies", root_path %>